@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.card{
  height: 500px;
  width: 320px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  border: 8px;
  position: relative;
}